  <div class="game_play">
    <h2>Start Typing!</h2>
      <!-- <img id="turtle" src="turtle.png"></img> -->
      <div class="game_text" id="game_text"><%=@text%></div>
    <form action='/results' method='post'>
      <textarea class="textbox" name='user_input' id='userArea'></textarea>
      </br>
      <input class="button" type='submit' value='Submit'>
    </form>
  </div>