<% if @ready %>
  <div class="game_play">
    <h2>Start Typing!</h2>
      <div class="game_text" id="game_text">
        <%= @text %>
      </div>
    <form action='/results' method='post'>
      <textarea class="textbox" name='user_input' id='user_input'></textarea>
      </br>
      <input class="button" type='submit' value='Submit'>
    </form>
  </div>
 <% else %> 
  <div class="new_game_prompt">
    <h2>Begin a new game!</h2>
    <p>Hey turtle, you better type fast or you're gonna get squashed!  Type the words on the screen as fast as you can, but don't make any mistakes.
    </br></br>
      Click the button below when you're ready to begin.</p>
    <form action='/ready' method='post'>
      <input class="button" type='submit' value='Start'>
    </form>
  </div>
<% end %>

<script>
  document.addEventListener('readystatechange', function() {
    if (document.readyState === "complete") {
      Game.start();
    }
  });
</script>